<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Booking</title>
    <style>
       body{
            background-image: url("https://img.freepik.com/premium-photo/train-with-yellow-color-locomotive-shape-freight-overlay-front_170984-22147.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: fit-content;
            margin-left:auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 20px;
            box-shadow: 0px 3px 3px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Advance Booking</h1>
        <form action="">
            <label for="">From</label>
            <input type="text" placeholder="From">
            <input type="date" placeholder="start Date">
            <label for="">To:</label>
            <input type="text" placeholder="To">
            <input type="date" name="" id="" placeholder="End Date"><br><br>
        </form>
        <a href="bookings.html"><button>Back</button></a>&nbsp;&nbsp;
        <a href="bookconfirm.html"><button>Submit</button></a>
    </center>
</body>
</html>