<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us!</title>
    <style>
        body{
            background-image: url("https://img.freepik.com/premium-photo/train-with-yellow-color-locomotive-shape-freight-overlay-front_170984-22147.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>
        <div>
            <h2>
                For Railway tickets booked through IRCTC
            </h2>
            <p>
                Customer Care Numbers: 14646,08044647999,08035734999 (Language: Hindi and English)
            </p>
            <p>
                Customers can use enhanced interface for their IRCTC related queries:https://equery.irctc.co.in
            </p>
        </div>
        <hr>
        <div>
            <h2>
                General Information:
            </h2>
            <p>
                E-tickets / I-tickets: https://equery.irctc.co.in
            </p>
            <p>
                For Cancellation of E-tickets: etickets@irctc.co.in
            </p>
            <p>
                For IRCTC iMudra Prepaid Wallet & Card: https://equery.irctc.co.in
            </p>
        </div>
        <hr>
        <div>
            <h2>
                For complaint regarding IRCTC Loyalty credit card, kindly contact as below.
            </h2>
            <p>
                LOYALTY CREDIT CARD: IRCTC-SBI
            </p>
            <p>
                CONTACT NUMBER: 0124-39021212 / 18001801295
            </p>
            <p>
                EMAIL/URL: customercare@sbicard.com
            </p>
        </div>
        <hr>
        <div>
            <h2>
                LOYALTY CREDIT CARD: IRCTC-BOB
            </h2>
            <p>
                CONTACT NUMBER: 1800225100 / 18001031006
            </p>
            <p>
                EMAIL/URL: gnithin2k@yahoo.com
            </p>
        </div>
        <hr>
        <div>
            <h2>LOYALTY CREDIT CARD: IRCTC-HDFC</h2>
            <p>
                CONTACT NUMBER: 9963558417 / 8639851701
            </p>
            <p>
                EMAIL/URL: https://www.hdfcbank.com/personal/need-help/contact-us
            </p>
        </div>
        <hr>
        <div>
            <p>
                For other queries related to IRCTC Loyalty Co-branded Program, kindly email at loyaltyprogram@irctc.co.in
            </p>
            <h2>Registered Office / Corporate Office</h2>
            <p>
                Indian Railway Catering and Tourism Corporation Ltd.,
            </p>
            <p>
                B-148, 11th Floor, Statesman House,
            </p>
            <p>
                Barakhamba Road, New Delhi 110001
            </p>
        </div>
        <a href="welcome.html"><button>Home</button></a>
    </center>
</body>
</html>