<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNR Status</title>
    <style>
        body{
            background-image: url("https://img.freepik.com/premium-photo/train-with-yellow-color-locomotive-shape-freight-overlay-front_170984-22147.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: fit-content;
            margin-left:auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 20px;
            box-shadow: 0px 3px 3px;
        }
    </style>
</head>
<body>
    <center>
        <h1>PNR Status</h1>
        <form action="">
            <label for="">Enter PNR Number:</label>
            <input type="text" placeholder="Enter PNR No." required><br><br>
            <a href="welcome.html">Back</a>
            <a href="pnrsubmit.html">Submit</a>&nbsp;&nbsp;   
        </form>
    </center>
</body>
</html>