<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 3px solid black;
            width:fit-content;
            padding: 25px;
            margin: 200px;
        }
        body{
            background-image: url("https://img.freepik.com/premium-photo/train-with-yellow-color-locomotive-shape-freight-overlay-front_170984-22147.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>
    <div>
            <h1>Forget Account Details</h1>
            <form action="">
                <input type="text" placeholder="Enter Mobile Number"><br><br>
                <input type="text" placeholder="Enter Captcha"><br><br>
                <a href="login.htm"><button>Back</button></a> &nbsp; &nbsp; <a href="login.htm">Next</a>
            </form>
        </div>
    </center>
</body>
</html>